:host {
  position: absolute;
  inset: 0;
}

header {
  background: #151515;
  height: 72px;
}

header > svg {
  padding: 16px 32px;
}

.container {
  margin: 0;
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  color: #000000;
  background-color: #ffffff;
}

.container > * {
  border: 1px solid #dddddd;
  resize: both;
}

.preview {
  padding: 1em;
  max-height: 50vh;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  overflow: scroll;
}

.editor {
  resize: both;
  max-height: 50vh;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  overflow: scroll;
  position: relative;
}

code-editor {
  position: absolute;
  inset: 0;
}

.output {
  padding: 1em;
  height: 100%;
  display: flex;
  flex-flow: column;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  overflow: scroll;
}

hack-email {
  overflow: auto;
}