:host {
  position: absolute;
  inset: 0;
}

.container {
  margin: 0;
  position: absolute;
  align-items: stretch;
  inset: 0;
  color: #000000;
  background-color: #ffffff;
}

.container, .input, .output {
  display: flex;
}

.input, .output {
  border: 1px solid #dddddd;
  flex: 1 1 50%;
}

.preview, .editor {
  flex: 1 1;
}

.input {
  flex-direction: column;
}

.preview {
  overflow: scroll;
  border-block-end: 1px solid #dddddd;
}

hack-email {
  overflow: auto;
  height: 100%;
}

.editor {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

code-editor {
  margin: 0;
  height: 100%;
}

.output {
  height: 100%;
  flex-flow: column;
  overflow: scroll;
  border-inline-start: none;
  resize: horizontal;
}

hack-output {
  margin: 1em;
}
